<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
  Articles
{% endblock title %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="container py-4">
  <h1 class="mx-100 text-center">Recommended Articles</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/1.jpg" class="d-block w-30" alt="...">

          <div class="card-body">
            <p class="card-text">Personal Finance for Youngsters!</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"> <a href="https://naveedniazi.medium.com/personal-finance-for-youngsters-3dd3ebefed55"> View </a></button>
              </div>
              <small class="text-muted">3 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/2.jpg" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">Money-Saving Tips That Saved My Life</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://medium.com/@monikagil/money-saving-tips-that-saved-my-life-4db5df9ca68f"> View </a></button>
              </div>
              <small class="text-muted">2 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/3.jpg" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">Sustainable Product Choices into the Budget</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://annamriley.medium.com/working-sustainable-product-choices-into-the-budget-f179793964ee"> View </a></button>

              </div>
              <small class="text-muted">3 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/4.jpg" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">How to Make a Monthly Budget</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://medium.com/@reneeandwright/how-to-make-a-monthly-budget-533e5cd52136"> View </a></button>
              </div>
              <small class="text-muted">5 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/6.jpg" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">What’s the Best Payment Type When Trying To Stick on a Budget? — Budget and Invest</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://medium.com/@DistrictMedia/whats-the-best-payment-type-when-trying-to-stick-on-a-budget-budget-and-invest-8a4e152c6c42"> View </a></button>
              </div>
              <small class="text-muted">5 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/5.jpg" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">Five budgeting ideas for freelancers to save money</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://thenaturegirl.medium.com/budgeting-hacks-e12016827cb"> View </a></button>
              </div>
              <small class="text-muted">5 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="https://source.unsplash.com/150x50/?politician" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://medium.com/made-not-found/why-talk-about-budgeting-now-aa75cf5005c"> View </a></button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://source.unsplash.com/150x50/?Minister" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://medium.com/@PolyDabbler/how-i-saved-thousands-without-even-trying-1d075245d3b6"> View </a>/button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://source.unsplash.com/150x50/?government" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://medium.com/@SalSindoni/transform-your-life-with-small-steps-discover-the-power-of-budgeting-today-d3a6c7982c5b"> View </a></button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock body %}

